.emailInput {
  &__header {
    display: flex;
    justify-content: space-between;
  
    &__title {
      
    }

    &__error {
      color: red;
    }
  }

  &__input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    outline: none;
    border: .125rem solid;
    border-radius: .25rem;
  
    line-height: 150%;
    text-indent: 0.5rem;
  }
}